In [1]:
import numpy as np
import pandas as pd

In [53]:
df = pd.read_csv("athlete_events.csv")
summer = pd.read_csv("olympics_dataset.csv")
noc = pd.read_csv("noc_regions.csv")
bio = pd.read_csv("Olympic_Athlete_Biography.csv")
event = pd.read_csv("Olympic_Athlete_Event_Details.csv")

In [54]:
# we didn't remove the nan values which will not affect in our analysis

In [55]:
summer.head()

,player_id,Name,Sex,Team,NOC,Year,Season,City,Sport,Event,Medal
0,0,A Dijiang,M,China,CHN,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,No medal
1,1,A Lamusi,M,China,CHN,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,No medal
2,2,Gunnar Aaby,M,Denmark,DEN,1920,Summer,Antwerpen,Football,Football Men's Football,No medal
3,3,Edgar Aabye,M,Denmark/Sweden,DEN,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,26,Cornelia (-strannood),F,Netherlands,NED,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,No medal

In [56]:
summer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252565 entries, 0 to 252564
Data columns (total 11 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   player_id  252565 non-null  int64
 1   Name       252565 non-null  object
 2   Sex        252565 non-null  object
 3   Team       252565 non-null  object
 4   NOC        252565 non-null  object
 5   Year       252565 non-null  int64
 6   Season     252565 non-null  object
 7   City       252565 non-null  object
 8   Sport      252565 non-null  object
 9   Event      252565 non-null  object
 10  Medal      252565 non-null  object
dtypes: int64(2), object(9)
memory usage: 21.2+ MB

In [57]:
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [58]:
noc.head()

   NOC       region                 notes
0  AFG  Afghanistan                   NaN
1  AHO      Curacao  Netherlands Antilles
2  ALB      Albania                   NaN
3  ALG      Algeria                   NaN
4  AND      Andorra                   NaN

In [59]:
summer["Name"].nunique()

129992

In [60]:
summer = summer.sort_values(by = "Year")

In [61]:
summer = summer.merge(noc,on = "NOC",how = "outer")

In [62]:
summer["Gold"] = summer[summer["Medal"] == "Gold"]["Medal"]
summer["Silver"] = summer[summer["Medal"] == "Silver"]["Medal"]
summer["Bronze"] = summer[summer["Medal"] == "Bronze"]["Medal"]

In [63]:
summer["Sex"] = summer["Sex"].str.replace("M","Male").replace("F","Female")

In [64]:
summer[(summer["Sex"] != "Male") & (summer["Sex"] != "Female")]

,player_id,Name,Sex,Team,NOC,Year,Season,City,Sport,Event,Medal,region,notes,Gold,Silver,Bronze
200584,NaN,NaN,NaN,NaN,SIN,NaN,NaN,NaN,NaN,NaN,NaN,Singapore,NaN,NaN,NaN,NaN

In [65]:
summer = summer.drop(200584)

In [66]:
summer["Name"] = summer["Name"].str.strip()
summer["Event"] = summer["Event"].str.strip()

In [67]:
summer["Name"] = summer["Name"].str.replace("Sindhu Pusarla","PV Sindhu").replace("Sindhu Pusarla","PV Sindhu").replace("Bajrang Bajrang","bajrang punia")

In [68]:
summer = summer.drop(labels = [225842,225843], axis = 0)

In [69]:
temp = summer[summer["region"].isnull()]

In [70]:
summer.to_csv("Olympics_cleaned.csv",index = False)